<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# Final Project: Data Analysis using Spark

Estimated time needed: **60** minutes

This final project is similar to the Practice Project you did. In this project, you will not be provided with hints or solutions. You will create a DataFrame by loading data from a CSV file and apply transformations and actions using Spark SQL. This needs to be achieved by performing the following tasks:

- Task 1: Generate DataFrame from CSV data.
- Task 2: Define a schema for the data.
- Task 3: Display schema of DataFrame.
- Task 4: Create a temporary view.
- Task 5: Execute an SQL query.
- Task 6: Calculate Average Salary by Department.
- Task 7: Filter and Display IT Department Employees.
- Task 8: Add 10% Bonus to Salaries.
- Task 9: Find Maximum Salary by Age.
- Task 10: Self-Join on Employee Data.
- Task 11: Calculate Average Employee Age.
- Task 12: Calculate Total Salary by Department.
- Task 13: Sort Data by Age and Salary.
- Task 14: Count Employees in Each Department.
- Task 15: Filter Employees with the letter o in the Name.

### Prerequisites 

1. For this lab assignment, you will be using Python and Spark (PySpark). Therefore, it's essential to make sure that the following libraries are installed in your lab environment or within Skills Network (SN) Labs

In [1]:
# Installing required packages  

!pip install pyspark  findspark wget

Collecting pyspark
  Downloading pyspark-3.4.2.tar.gz (311.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 311.1/311.1 MB 1.7 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Requirement already satisfied: wget in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (3.2)
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 36.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.2-py2.py3-none-any.whl size=311619841 sha256=8930743c6b999b638cd6d06c6831f1a248a573eb8dc43c205656838591bf5f10
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/c3/8a/ac/cd39777597318310141c8a783c06f516815a66194f100f96b6
Successfully built pyspark
Installing collected packages: py4j, findspark, pyspark
Successfully installed findspark-2.0.1 py4j-0.10.9.7 pyspark-3.4.2

In [3]:
import findspark

findspark.init()

In [4]:
# PySpark is the Spark API for Python. In this lab, we use PySpark to initialize the SparkContext.   

from pyspark import SparkContext, SparkConf

from pyspark.sql import SparkSession

In [5]:
# Creating a SparkContext object  

sc = SparkContext.getOrCreate()

# Creating a SparkSession  

spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

24/02/22 07:58:46 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

2. Download the CSV data.

In [6]:
# Download the CSV data first into a local `employees.csv` file
import wget
wget.download("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/data/employees.csv")

'employees.csv'

### Tasks

#### Task 1: Generate a Spark DataFrame from the CSV data

Read data from the provided CSV file, `employees.csv` and import it into a Spark DataFrame variable named `employees_df`.

In [7]:
# Read data from the "emp" CSV file and import it into a DataFrame variable named "employees_df"  
emplloyee_df = spark.read.csv("employees.csv", header=True, inferSchema=True)

#### Task 2: Define a schema for the data

Construct a schema for the input data and then utilize the defined schema to read the CSV file to create a DataFrame named `employees_df`.

In [9]:
# Define a Schema for the input data and read the file using the user-defined Schema
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType

# Define the schema based on your column names and data types
schema = StructType([
    StructField("Emp_No", IntegerType(), True),
    StructField("Emp_Name", StringType(), True),
    StructField("Salary", FloatType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Department", StringType(), True)
])

# Read the CSV file into a DataFrame named employees_df
employees_df = spark.read.format("csv").schema(schema).option("header", True).load("employees.csv")

# Print the schema of the DataFrame
#employees_df.printSchema()

#### Task 3: Display schema of DataFrame

Display the schema of the `employees_df` DataFrame, showing all columns and their respective data types.

In [10]:
# Display all columns of the DataFrame, along with their respective data types
employees_df.printSchema()

root
 |-- Emp_No: integer (nullable = true)
 |-- Emp_Name: string (nullable = true)
 |-- Salary: float (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)

#### Task 4: Create a temporary view

Create a temporary view named `employees` for the `employees_df` DataFrame, enabling Spark SQL queries on the data.

In [11]:
# Create a temporary view named "employees" for the DataFrame
# Create the temporary view using the DataFrame name and view name
employees_df.createOrReplaceTempView("employees")

# Now you can perform Spark SQL queries on the 'employees' view
#spark.sql("SELECT Emp_Name, Salary FROM employees WHERE Age > 30").show()

# To remove the temporary view after you're done
# spark.sql("DROP VIEW employees")

#### Task 5: Execute an SQL query

Compose and execute an SQL query to fetch the records from the `employees` view where the age of employees exceeds 30. Then, display the result of the SQL query, showcasing the filtered records.

In [12]:
# SQL query to fetch solely the records from the View where the age exceeds 30
spark.sql("SELECT Emp_Name FROM employees WHERE Age > 30").show()

+-----------+
|   Emp_Name|
+-----------+
|    Douglas|
|   Jennifer|
|    Michael|
|        Pat|
|      Susan|
|    Shelley|
|    William|
|     Steven|
|        Lex|
|  Alexander|
|      Bruce|
|      David|
|      Valli|
|      Diana|
|     Daniel|
|       John|
|     Ismael|
|Jose Manuel|
|       Luis|
|     Shelli|
+-----------+
only showing top 20 rows

#### Task 6: Calculate Average Salary by Department

Compose an SQL query to retrieve the average salary of employees grouped by department. Display the result.

In [13]:
# SQL query to calculate the average salary of employees grouped by department

spark.sql("SELECT Department, AVG(Salary) AS Average_Salary FROM employees GROUP BY Department ORDER BY Department ASC").show()

[Stage 4:=====================================================> (195 + 5) / 200]

+----------+-----------------+
|Department|   Average_Salary|
+----------+-----------------+
|   Finance|           5730.8|
|        HR|           5837.5|
|        IT|           7400.0|
| Marketing|6633.333333333333|
|     Sales|5492.923076923077|
+----------+-----------------+

#### Task 7: Filter and Display IT Department Employees

Apply a filter on the `employees_df` DataFrame to select records where the department is `'IT'`. Display the filtered DataFrame.

In [14]:
# Apply a filter to select records where the department is 'IT'

employees_df.createOrReplaceTempView("employees")

# Filter the view by department and display the results
spark.sql("SELECT * FROM employees WHERE Department = 'IT'").show()

+------+--------+-------+---+----------+
|Emp_No|Emp_Name| Salary|Age|Department|
+------+--------+-------+---+----------+
|   198|  Donald| 2600.0| 29|        IT|
|   201| Michael|13000.0| 32|        IT|
|   206| William| 8300.0| 37|        IT|
|   100|  Steven|24000.0| 39|        IT|
|   104|   Bruce| 6000.0| 38|        IT|
|   105|   David| 4800.0| 39|        IT|
|   111|  Ismael| 7700.0| 32|        IT|
|   129|   Laura| 3300.0| 38|        IT|
|   132|      TJ| 2100.0| 34|        IT|
|   136|   Hazel| 2200.0| 29|        IT|
+------+--------+-------+---+----------+

#### Task 8: Add 10% Bonus to Salaries

Perform a transformation to add a new column named "SalaryAfterBonus" to the DataFrame. Calculate the new salary by adding a 10% bonus to each employee's salary.

In [15]:
from pyspark.sql.functions import col

# Add a new column "SalaryAfterBonus" with 10% bonus added to the original salary
# Create a temporary view if you haven't already
employees_df.createOrReplaceTempView("employees")

# Add a new column with bonus using Spark SQL expressions
spark.sql(
    """
    SELECT *, Salary * 1.1 AS SalaryAfterBonus
    FROM employees
    """
).show()

+------+---------+-------+---+----------+------------------+
|Emp_No| Emp_Name| Salary|Age|Department|  SalaryAfterBonus|
+------+---------+-------+---+----------+------------------+
|   198|   Donald| 2600.0| 29|        IT|2860.0000000000005|
|   199|  Douglas| 2600.0| 34|     Sales|2860.0000000000005|
|   200| Jennifer| 4400.0| 36| Marketing|            4840.0|
|   201|  Michael|13000.0| 32|        IT|14300.000000000002|
|   202|      Pat| 6000.0| 39|        HR| 6600.000000000001|
|   203|    Susan| 6500.0| 36| Marketing| 7150.000000000001|
|   204|  Hermann|10000.0| 29|   Finance|           11000.0|
|   205|  Shelley|12008.0| 33|   Finance|13208.800000000001|
|   206|  William| 8300.0| 37|        IT|            9130.0|
|   100|   Steven|24000.0| 39|        IT|26400.000000000004|
|   101|    Neena|17000.0| 27|     Sales|           18700.0|
|   102|      Lex|17000.0| 37| Marketing|           18700.0|
|   103|Alexander| 9000.0| 39| Marketing|            9900.0|
|   104|    Bruce| 6000.0| 38|        IT| 6600.000000000001|
|   105|    David| 4800.0| 39|        IT|            5280.0|
|   106|    Valli| 4800.0| 38|     Sales|            5280.0|
|   107|    Diana| 4200.0| 35|     Sales|            4620.0|
|   108|    Nancy|12008.0| 28|     Sales|13208.800000000001|
|   109|   Daniel| 9000.0| 35|        HR|            9900.0|
|   110|     John| 8200.0| 31| Marketing|            9020.0|
+------+---------+-------+---+----------+------------------+
only showing top 20 rows

#### Task 9: Find Maximum Salary by Age

Group the data by age and calculate the maximum salary for each age group. Display the result.

In [16]:
from pyspark.sql.functions import max

# Group data by age and calculate the maximum salary for each age group

spark.sql("SELECT Age, MAX(Salary) AS Max_Salary FROM employees GROUP BY Age ORDER BY Age ASC").show()

[Stage 8:================================================>      (175 + 9) / 200]

+---+----------+
|Age|Max_Salary|
+---+----------+
| 26|    3600.0|
| 27|   17000.0|
| 28|   12008.0|
| 29|   10000.0|
| 30|    8000.0|
| 31|    8200.0|
| 32|   13000.0|
| 33|   12008.0|
| 34|    7800.0|
| 35|    9000.0|
| 36|    7900.0|
| 37|   17000.0|
| 38|    6000.0|
| 39|   24000.0|
+---+----------+

#### Task 10: Self-Join on Employee Data

Join the "employees_df" DataFrame with itself based on the "Emp_No" column. Display the result.

In [17]:
# Join the DataFrame with itself based on the "Emp_No" column

joined_df = employees_df.alias("emp1").join(
    employees_df.alias("emp2"),
    on=col("emp1.Emp_No") == col("emp2.Emp_No"),
    how="inner"
)

# Display the joined DataFrame
joined_df.show()

+------+---------+-------+---+----------+------+---------+-------+---+----------+
|Emp_No| Emp_Name| Salary|Age|Department|Emp_No| Emp_Name| Salary|Age|Department|
+------+---------+-------+---+----------+------+---------+-------+---+----------+
|   198|   Donald| 2600.0| 29|        IT|   198|   Donald| 2600.0| 29|        IT|
|   199|  Douglas| 2600.0| 34|     Sales|   199|  Douglas| 2600.0| 34|     Sales|
|   200| Jennifer| 4400.0| 36| Marketing|   200| Jennifer| 4400.0| 36| Marketing|
|   201|  Michael|13000.0| 32|        IT|   201|  Michael|13000.0| 32|        IT|
|   202|      Pat| 6000.0| 39|        HR|   202|      Pat| 6000.0| 39|        HR|
|   203|    Susan| 6500.0| 36| Marketing|   203|    Susan| 6500.0| 36| Marketing|
|   204|  Hermann|10000.0| 29|   Finance|   204|  Hermann|10000.0| 29|   Finance|
|   205|  Shelley|12008.0| 33|   Finance|   205|  Shelley|12008.0| 33|   Finance|
|   206|  William| 8300.0| 37|        IT|   206|  William| 8300.0| 37|        IT|
|   100|   Steven|24000.0| 39|        IT|   100|   Steven|24000.0| 39|        IT|
|   101|    Neena|17000.0| 27|     Sales|   101|    Neena|17000.0| 27|     Sales|
|   102|      Lex|17000.0| 37| Marketing|   102|      Lex|17000.0| 37| Marketing|
|   103|Alexander| 9000.0| 39| Marketing|   103|Alexander| 9000.0| 39| Marketing|
|   104|    Bruce| 6000.0| 38|        IT|   104|    Bruce| 6000.0| 38|        IT|
|   105|    David| 4800.0| 39|        IT|   105|    David| 4800.0| 39|        IT|
|   106|    Valli| 4800.0| 38|     Sales|   106|    Valli| 4800.0| 38|     Sales|
|   107|    Diana| 4200.0| 35|     Sales|   107|    Diana| 4200.0| 35|     Sales|
|   108|    Nancy|12008.0| 28|     Sales|   108|    Nancy|12008.0| 28|     Sales|
|   109|   Daniel| 9000.0| 35|        HR|   109|   Daniel| 9000.0| 35|        HR|
|   110|     John| 8200.0| 31| Marketing|   110|     John| 8200.0| 31| Marketing|
+------+---------+-------+---+----------+------+---------+-------+---+----------+
only showing top 20 rows

#### Task 11: Calculate Average Employee Age

Calculate the average age of employees using the built-in aggregation function. Display the result.

In [18]:
# Calculate the average age of employees
from pyspark.sql.functions import avg 
spark.sql("SELECT AVG(Age) AS Average_Age FROM employees").show()

+-----------+
|Average_Age|
+-----------+
|      33.56|
+-----------+

#### Task 12: Calculate Total Salary by Department

Calculate the total salary for each department using the built-in aggregation function. Display the result.

In [19]:
# Calculate the total salary for each department. Hint - User GroupBy and Aggregate functions
from pyspark.sql.functions import sum 
spark.sql("SELECT Department, SUM(Salary) AS Total_Salary FROM employees GROUP BY Department ORDER BY Department ASC").show()

[Stage 14:==========================================>          (161 + 12) / 200]

+----------+------------+
|Department|Total_Salary|
+----------+------------+
|   Finance|     57308.0|
|        HR|     46700.0|
|        IT|     74000.0|
| Marketing|     59700.0|
|     Sales|     71408.0|
+----------+------------+

#### Task 13: Sort Data by Age and Salary

Apply a transformation to sort the DataFrame by age in ascending order and then by salary in descending order. Display the sorted DataFrame.

In [ ]:
# Sort the DataFrame by age in ascending order and then by salary in descending order

#### Task 14: Count Employees in Each Department

Calculate the number of employees in each department. Display the result.

In [20]:
from pyspark.sql.functions import count

# Calculate the number of employees in each department
sorted_df = employees_df.orderBy(["Age", col("Salary").desc()])
sorted_df.show()

+------+---------+-------+---+----------+
|Emp_No| Emp_Name| Salary|Age|Department|
+------+---------+-------+---+----------+
|   137|   Renske| 3600.0| 26| Marketing|
|   101|    Neena|17000.0| 27|     Sales|
|   114|      Den|11000.0| 27|   Finance|
|   108|    Nancy|12008.0| 28|     Sales|
|   130|    Mozhe| 2800.0| 28| Marketing|
|   126|    Irene| 2700.0| 28|        HR|
|   204|  Hermann|10000.0| 29|   Finance|
|   115|Alexander| 3100.0| 29|   Finance|
|   134|  Michael| 2900.0| 29|     Sales|
|   198|   Donald| 2600.0| 29|        IT|
|   140|   Joshua| 2500.0| 29|   Finance|
|   136|    Hazel| 2200.0| 29|        IT|
|   120|  Matthew| 8000.0| 30|        HR|
|   110|     John| 8200.0| 31| Marketing|
|   127|    James| 2400.0| 31|        HR|
|   201|  Michael|13000.0| 32|        IT|
|   111|   Ismael| 7700.0| 32|        IT|
|   119|    Karen| 2500.0| 32|   Finance|
|   205|  Shelley|12008.0| 33|   Finance|
|   124|    Kevin| 5800.0| 33| Marketing|
+------+---------+-------+---+----------+
only showing top 20 rows

#### Task 15: Filter Employees with the letter o in the Name

Apply a filter to select records where the employee's name contains the letter `'o'`. Display the filtered DataFrame.

In [21]:
# Apply a filter to select records where the employee's name contains the letter 'o'
filtered_df = employees_df.filter(employees_df.Emp_Name.contains("o"))
filtered_df.show()

+------+-----------+------+---+----------+
|Emp_No|   Emp_Name|Salary|Age|Department|
+------+-----------+------+---+----------+
|   198|     Donald|2600.0| 29|        IT|
|   199|    Douglas|2600.0| 34|     Sales|
|   110|       John|8200.0| 31| Marketing|
|   112|Jose Manuel|7800.0| 34|        HR|
|   130|      Mozhe|2800.0| 28| Marketing|
|   133|      Jason|3300.0| 38|     Sales|
|   139|       John|2700.0| 36|     Sales|
|   140|     Joshua|2500.0| 29|   Finance|
+------+-----------+------+---+----------+

# Congratulations! You have completed the project.

Now you know how to create a DataFrame from a CSV data file and perform a variety of DataFrame transformations and actions using Spark SQL.

## Authors

Raghul Ramesh

Lavanya T S

## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-09-01|0.1|Lavanya T S|Initial version|
|2023-09-11|0.2|Pornima More|QA pass with edits|

Copyright © 2023 IBM Corporation. All rights reserved.